<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109268070459-id8d7a350h485kt9vrpu43senvks64m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109268070459-id8d7a350h485kt9vrpu43senvks64m3</string>
	<key>API_KEY</key>
	<string>AIzaSyDxFyqTwroHt1GakiRwwGeIwpoW_SKU3Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>109268070459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luishuarachi.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-86475</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-86475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109268070459:ios:c352c9231efa8687</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-86475.firebaseio.com</string>
</dict>
</plist>